services:

  yakk:
    build: 
      context: .
      dockerfile: ./Dockerfile
      target: dev
    ports:
      - '3001:3001'
    volumes:
      - .:/app
    environment:
      NODE_ENV: development
      MONGO_USER: $MONGO_USER
      MONGO_PASSWORD: $MONGO_PASSWORD
    healthcheck:
      test: curl --fail http://localhost:3001 || exit 1
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USER
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
     - mongodb:/data/db
     - mongodb_config:/data/configdb
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet

volumes:
   mongodb:
   mongodb_config: